* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #eee;
}

.container{
    max-width: 800px;
    margin: auto; /* vaba ruum servades ehk keskele */
    background-color: #fff;

}

.header{
    background-color: #666;
    color: #fff;
    line-height: 100px;
    padding: 20px;
}

.nav{
    background-color: #000;
    padding: 0px 20px;
}

.nav a{
    color: #fff;
    text-decoration: none;
}

.nav ul{
    height: 40px;
    list-style-type: none;
}

.nav li{
    display: block; /* Teeb kastiks*/
    float: left; /* Joondab kastid vasakule */
    line-height: 40px;
    padding: 0 20px 0 0;
    /* paading-right: 20px; TEEB SAMA*/
}

.content{
    padding: 10px 20px;
}

.content img{
    width: 100%;
}

.content p, h2{
    padding: 10px 0;
}

.content ul{
    margin-left: 20px;
}

.footer{
    background-color: #000;
    line-height: 60px;
    color: #fff;
    padding-left: 20px;
}