* {
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}

.logo {
    height: 265px;
    margin: auto;
    padding: 12px 24px;
    color: blue;

}

.content {
    height: 400px;
}

.content h2{
    font-family: Montserrat;
    font-size: 36px;
}

.content p{
    font-size: 18px;
}

.content img{
    padding: 20px;
    float: right;
}

.nav {
    height: 50px;
    font-family: Montserrat; 
    font-size: 18px;
}

.nav a{
    color: black;
    text-decoration: none;
}

.nav ul{
    list-style-type: none;
}

.nav li{
    display: block;
    float: left;
    padding: 12px 24px
}

.footer {
    opacity: 64%;
    margin: 24px;
    padding: 64px;
    background-color: #111;
    color: white;
}

