*{
    padding: 0%;
    margin: 0%;
}

.container{
    max-width: 1200px;
    margin: auto;
}

.nav{
    height: 50px;
    font-family: Montserrat;
}

.nav a{
    color: black;
    text-decoration: none;
}

.nav ul{
    list-style-type: none;
}

.nav li{
    display: block;
    float: left;
    padding: 12px 24px;
    font-size: 18px;
}

.logo {
    margin: auto;
    height: 265px;
    font-size: 64px;
    color: white;
    text-align: center;
    font-family: Montserrat;
}

.logo h1{
    font-weight: 400;
}

.logo p{
    font-size: 24px;
}

.logo a{
    text-decoration: none;
    font-size: 18px;
    color: white;
}

.logo ul{
    list-style-type: none;
}

.logo li{
    font-size: 18px;
    display: inline-block;
    background-color: black;
    padding: 12px 24px;
}

.content {;
    height: 400px;
}

.main h2{
    font-family: Montserrat;
    font-size: 36px;
    max-width: 50%;
    margin: auto;
    height: 100px;
}

.main p{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5;
    max-width: 50%;
    margin: auto;
    height: 150px;
}

.main p.Teine{
    font-family: Montserrat;
    font-size: 15px;
    line-height: 1.5;
    font-weight: 400;
    max-width: 50%;
    margin: auto;
}

.main img{
    display: block;
    float: right;
    padding: 20px;
    margin-bottom: 30px;
}

.footer {
    background-color: #222;
    color: white;
    opacity: 64%;
    padding: 64px;
    font-size: 24px;
    margin: auto;
    display: block;
    text-align: center;
}