*{
    padding: 0%;
    margin: 0%;
    font-family: Montserrat;
}

.container{
    max-width: 1200px;
    margin: auto;
}

.nav{
    height: 50px;
}

.nav a{
    color: black;
    text-decoration: none;
}

.nav ul{
    list-style-type: none;
}

.nav li{
    display: block;
    float: left;
    padding: 12px 24px;
    font-size: 18px;
}

.logo {
    margin: auto;
    height: 265px;
    font-size: 64px;
    color: white;
    text-align: center;
}

.logo p{
    font-size: 24px;
}

.logo a{
    text-decoration: none;
    font-size: 18px;
    color: white;
}

.logo ul{
    list-style-type: none;
}

.logo li{
    background-color: black;
    padding: 12px 24px;
    font-size: 18px;
}

.main {
}

.main img{
}

.footer {
    background-color: #222;
    color: white;
    opacity: 64%;
    padding: 64px;
    text-align: center;
}